html {
  font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh; /* vh = viewport height, 1vh = 1% , 100vh = 100% */
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr; /* 1 cot bang 1 fragment, fragment la 100% */
  grid-template-rows: 5rem 1fr 5rem; /* header main footer , tuong ung voi moi dong */
  height: 100%;
}
header {
  grid-area: header; /* ket noi voi header phia tren grid-template-areas */
  background-color: #203040;
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  padding: 1rem;
}

/* Common */
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Header */
header a{
    color: #ffffff;
    padding: 1rem;
}
header a.brand{
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
    justify-content: center;
}